font('Lora', '../media/fonts/Lora/lora-italic', 500, italic)
font('Lora', '../media/fonts/Lora/lora-regular', 500, normal)
font('Noto Serif', '../media/fonts/notoserif-italic', 500, italic)
font('Noto Serif', '../media/fonts/notoserif-regular', 500, normal)