/*==============================
=            COLORS            =
==============================*/

dark-liver = #50514f
sunset-orange = #f25f5c
mustard = #ffe066
lapis-lazuli = #247ba0
green-sheen = #70c1b3

/*=====  End of COLORS  ======*/