<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  meta(description="Yandex timetable development.")
  title Timetable application
  include common/styles.jade
body
  .vector-symbols
    include ../media/images/sprites/vector.svg

  #root-app
    include modules/header.jade


  include common/scripts.jade