<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  title Timetable application
  include common/styles.jade
body
  include ../media/images/sprites/vector.svg
  include modules/module-1.jade
  include common/scripts.jade